/** BEGIN: Non Openmrs CSS **/
* {
	font-family: arial;
	background: #86B689;
  }

  body {
	display: flex;
  }
  
  form {
	width: 45rem;
	display: block;
	margin: 3rem auto;
	padding: 3rem;
	border: 10px solid #709a73;
  }
  
  label {
	display: block;
	transform: translate(0, -2.75rem);
  }
  
  input {
	width: 100%;
	margin-top: 1.5rem;
	padding: 0.25rem;
	border: none;
	border-bottom: 2px solid #111;
	transition: border-color 0.2s ease;
	font-size: 1.25rem;
  }
  
  input:focus {
	  outline: none;
	  border-color: #709a73;
  }
  
  
  @supports (not (-ms-ime-align:auto)) {
	  label {
		color: rgb(0, 0, 0);
		transform: translate(0.25rem, -1.5rem);
		transition: all 0.2s ease-out;
	  }
	  
	  input:focus + label,
	  input:not(:placeholder-shown) + label {
		color: #111;
		transform: translate(0, -2.75rem);
	  }
  }
  

  select.inputText {
	border-radius: 8px;
	font-size: 1rem;
	width: 48vw;
	height: 2rem;
	width: 100%;
	margin-top: 1.5rem;
	padding: 0.25rem;
	border: none;
	border-bottom: 2px solid #111;
	transition: border-color 0.2s ease;
  }

  .button {
	color: #86B689;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5rem;
	margin: 4px 2px;
	cursor: pointer;
	background: #ffffff;
  }
  