.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  16%
  {
    transform: scale( .80 );
  }
  32%
  {
    transform: scale( 1 );
  }
  48%
  {
    transform: scale( .80 );
  }
  64%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .80 );
  }
  100%
  {
    transform: scale( 1 );
  }
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: heartbeat infinite 3s;
  }
}

.App-header {
  background-color: #548A57;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
